/* basic elements */
html {
	margin: 0px;
	padding: 0px;
	}
body { 
	font: 75% verdana, sans-serif;
	line-height: 1.88889;
	color: #666666; 
	/*background: #FFFFFF no-repeat bottom right; */
	margin: 0px auto; 
	padding: 0px;
	width: 100%;
	text-align: center;
}
#wrapper {
	position: relative; 
	width: 700px; 
	margin: 0px auto; 
	text-align: left; 
}

#framecontenttop{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 300px; /*Height of frame div*/
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/     
    background-color: ##000033;     
    color: ##000033;
}

#menucontent{
    position: absolute; 
    top: 10px; 
    left: 0px; 
    width: 700px; 
    height: 40px; /*Height of frame div*/
    overflow: scroll; /*Disable scrollbars. Set to "scroll" to enable*/     
    background-color: #ffffff;     
    color: #ffffff;
}

.menuBar{
    width:100%;
    height:50px;
    display:block;
    position:absolute;
    background-color:#000033;
    top:0;
    left:0
}
    
#linecontent{
    position:fixed;
    top: 0px;
    left: 700px;
    width: 1px;
    height: 100%;
    background-color:#000033;
    background-repeat: repeat-y;
    overflow:hidden;
    bottom: 0px;
}
#maincontent{
    position: absolute;
    top: 300px; 
    left: 0px; /*Set left value to WidthOfFrameDiv*/
    width: 650px;
    right: 0px;
    bottom: 0px;
    overflow: auto; 
    background: #ffffff;
}
	
a:link { 
	text-decoration: none; 
	color: #000033;
	}
a:visited { 
	text-decoration: none; 
	color: #000033;
	}
a:hover, a:active { 
	text-decoration: underline; 
	color: #000033;
	}
h2 { 
	font: 1.4em verdana;
	font-variant: small-caps;
	letter-spacing: 1px; 
	margin-bottom: 0px; 
	color: #000033;
	}
#code {
    letter-spacing: 1px; 
	color: #000033;
	margin: 20px;
    }
#contact {
    width: 620px;
	margin-left: 25px;
    }
#footer {
    font-size: 10px;
	text-align: center;
    color: #000033;
    }
ul{
    list-style-type: circle;
}
a.nav, a.nav:link, a.nav:visited {display:block; width:200px; height:30px; background:#ffffff; margin-top:0px; text-align:center; text-decoration:none; font-family:verdana, sans-serif; font-size:14px; color:#000033;float:left}
a.nav:hover {color:#fff; background:#764;}
a.nav:active {color:#fff; background:#c00;}
